.row{
    display: flex;
    margin: auto; 
    justify-content: space-around;
    gap: 5px;
}
.col{
    color: white;
    padding: 10px;
    flex: 1;
    margin: 20px;
    background-color: green;
}
.col-2{
    color: white;
    flex: 2; 
    margin: 20px;
    background-color: green;
    padding: 10px;
}
.col-3{
    color: white;
    flex: 3;
    margin: 20px;
    padding: 10px;
    background-color: green;
}